@import url('https://fonts.googleapis.com/css2?family=Inter&family=Merriweather&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    /* padding-bottom: 50px; */
    /* padding-right: 120px;
    padding-left: 120px; */
}

/* header section */
header,
.common {
    padding: 50px 140px 120px 140px;
}

.header-bg h3 {
    padding: 233px 344px 0 344px;
}

.header-bg h2 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 177px;
    margin: 0 344px;
}

header .header-bg {
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background-image: url('../resources/Banner\ Image.png');
    margin: auto;
}

.color-mix {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    width: 1320px;
    height: 600px;
    border-radius: 16px;
}

header h3 {
    margin: auto;
    color: #FFF;
    text-align: center;
    /* align-items: center; */
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

/* ----------Header Section Doine---------- */

/* discount section styles */
.discount {
    padding: 0 399px 120px 399px;
    text-align: center;
    font-family: Inter;
}

.discount h1 {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
}

.discount p {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.discount h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
}

.discount img {
    margin-top: 48px;
}

/* -------Discount Section Done--------- */

/* party section  */
.party-bg {
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    margin: auto;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
}

.party-opa {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    width: 1320px;
    height: 600px;
    border-radius: 16px;

    display: flex;
    justify-content: space-between;
}

.party-opa .image {
    margin: 68px 138px 68px 0;

}

.party-bg h2 {
    padding: 126px 0 0 126px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.party-bg p {
    margin: 24px 0px 0 126px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.party-bg p a {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 38px;
}

/* -------Party Section Done--------- */


/* hotel info styles */
.hotel-bg {
    width: 1320px;
    height: 482px;
    border-radius: 16px;
    background-image: linear-gradient(RGB(255, 232, 232), RGB(255, 251, 251));
    margin: auto;
    margin-top: 120px;
    /* margin-bottom: 120px; */
}

.hotel-bg .hotel-info {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
    padding: 100px 385px 48px 385px;
}

.hotel-bg button {
    margin: 0 576px 110px 576px;
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    text-transform: uppercase;
    width: 170px;
    height: 56px;
    border: none;
}

/* -------Hotel info section done---------- */

/* bonus section  */

/* ---------bonus section not complete--------- */

/* Gifts section style  */
.gifts {
    /* padding: 120px 140px 0 140px; */
    align-items: center;
    width: 1320px;
    background: #FFF;
    margin: auto;
    margin-top: 120px;
}

.gifts-discussion h4 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

.gifts-discussion h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.gifts-discussion p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    margin-bottom: 48px;
}

.image1 {
    border-radius: 16px;
    padding-right: 24px;
    margin-bottom: 24px;
    width: 413px;
    height: 439px;
}

/* Mail section Style  */
.mail {
    width: 1320px;
    height: 616px;
    background-color: RGB(255, 232, 232);
    border-radius: 16px;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 120px;
}

.mail .subscribe img {
    margin: 80px 585px 40px 585px;
}

.mail .subscribe h1 {
    text-align: center;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.mail .subscribe p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
}

.subscribe .usermail {
    width: 648px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    margin: 0 336px 80px 336px;
}

.sub {
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    margin-left: 438px;
    text-align: center;
    text-align: center;

}

.usermail .sub h6 {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    padding: 24px 56px;
}


/* footer style  */
footer {
    width: 1600px;
    height: 609px;
    background: #070211;
    margin: auto;
    /* padding: 120px 140px; */
    color: white;
    /* background-color: #070211; */
}

footer .add-contact {
    display: flex;
    justify-content: space-between;
}

.add-contact .address {
    margin-top: 120px;
    margin-left: 140px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 50px;
}

.add-contact .contact {
    margin-top: 120px;
    margin-right: 291px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}
.line{
    background: rgba(255, 255, 255, 0.15);
    width: 1320px;
height: 1px;
margin-right: 140px;
margin-left: 140px;
}

.social{
    /* margin: 48px 640px 0  640px; */
    margin: auto;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 48px;
}

.copyright{
    display: flex;
    justify-content: space-between;
}
.copyright p{
    margin: 50px 0 0 140px;
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.copyright h5{
    margin: 50px 140px 0 0;
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;

}
