@import url('https://fonts.googleapis.com/css2?family=Inter&family=Merriweather&display=swap');

* {
    margin: 0;
    padding: 0;
}
body{
    padding-bottom: 50px;
}

/* header section */
header,
.common {
    padding: 50px 140px 120px 140px;
}

.header-bg h3 {
    padding: 233px 344px 0 344px;
}

.header-bg h2 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 177px;
    margin: 0 344px;
}

header .header-bg {
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background-image: url('../resources/Banner\ Image.png');
    margin: auto;
}

.color-mix {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    width: 1320px;
    height: 600px;
    border-radius: 16px;
}

header h3 {
    margin: auto;
    color: #FFF;
    text-align: center;
    /* align-items: center; */
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;

}

/* discount section styles */
.discount {
    padding: 0 399px 120px 399px;
    text-align: center;
    font-family: Inter;
}

.discount h1 {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
}

.discount p {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.discount h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
}

.discount img {
    margin-top: 48px;
}

/* party section  */
.party-bg {
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    margin: auto;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
}

.party-opa {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    width: 1320px;
    height: 600px;
    border-radius: 16px;

    display: flex;
    justify-content: space-between;
}

.party-opa .image {
    margin: 68px 138px 68px 0;

}

.party-bg h2 {
    padding: 126px 0 0 126px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.party-bg p {
    margin: 24px 0px 0 126px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.party-bg p a {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 38px;
}

/* hotel info styles */